$cubeWidth: 300px;
$cubeHeight: 300px;
$cubeDepth: $cubeHeight;

$cubeWidthMobile: 150px;
$cubeHeightMobile: 150px;
$cubeDepthMobile: $cubeHeightMobile;

/* 3D Cube */
.space3d {
  perspective: 1000px;
  width: $cubeWidth;
  height: $cubeHeight;
  text-align: center;
  display: inline-block;
  padding-top: 6rem;
}

._3dbox {
  display: inline-block;
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(15deg);
}

._3dface {
  overflow: hidden;
  position: absolute;
  border: 1px solid #888;
  background: #fff;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
  color: #333;
  line-height: $cubeWidth;
  opacity: 0.9;
}

._3dfacefront {
  width: $cubeWidth;
  height: $cubeHeight;
  transform: translate3d(0, 0, $cubeDepth / 2);
}

._3dfacetop {
  width: $cubeWidth;
  height: $cubeDepth;
  transform: rotateX(90deg) translate3d(0, 0, $cubeHeight / 2);
}

._3dfacebottom {
  width: $cubeWidth;
  height: $cubeDepth;
  transform: rotateX(-90deg) translate3d(0, 0, $cubeHeight / 2);
}

._3dfaceleft {
  width: $cubeDepth;
  height: $cubeHeight;
  left: 50%;
  margin-left: -$cubeDepth / 2;
  transform: rotateY(-90deg) translate3d(0, 0, $cubeWidth / 2);
}

._3dfaceright {
  width: $cubeDepth;
  height: $cubeHeight;
  left: 50%;
  margin-left: -$cubeDepth / 2;
  transform: rotateY(90deg) translate3d(0, 0, $cubeWidth / 2);
}

._3dfaceback {
  width: $cubeWidth;
  height: $cubeHeight;
  transform: rotateY(180deg) translate3d(0, 0, $cubeDepth / 2);
}

.radioleft:checked ~ .space3d ._3dbox {
  transform: rotateY(90deg);
}

.radioright:checked ~ .space3d ._3dbox {
  transform: rotateY(-90deg);
}

.radiobottom:checked ~ .space3d ._3dbox {
  transform: rotateX(90deg);
}

.radiotop:checked ~ .space3d ._3dbox {
  transform: rotateX(-90deg);
}

.radioback:checked ~ .space3d ._3dbox {
  transform: rotateY(180deg);
}

/* Apply backgrounds */
._3dfacefront {
  // background: url(https://res.cloudinary.com/detzng4ks/image/upload/v1653339158/disco-diffusion-active-tests/5cce187a-5b6d-40e2-8ccf-fb599b25be34.png);
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
}

._3dfaceleft {
  // background: url(https://res.cloudinary.com/detzng4ks/image/upload/v1653340143/disco-diffusion-active-tests/2e51b771-185d-475e-b2f9-3ac7f2aae878.png);
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
}

._3dfaceright {
  // background: url(https://res.cloudinary.com/detzng4ks/image/upload/v1653342188/disco-diffusion-active-tests/513f5c5e-8de8-44d5-a785-ad161646039e.png);
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
}

._3dfacetop {
  // background: url(https://res.cloudinary.com/detzng4ks/image/upload/v1652919878/disco-diffusion-active-tests/8da05abb-d4b2-4579-82c0-d9d0af122f61.png);
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
}

._3dfacebottom {
  // background: url(https://res.cloudinary.com/detzng4ks/image/upload/v1652853055/disco-diffusion-active-tests/2f36fdfc-258d-467d-931d-d4869dae10e9.png);
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
}

._3dfaceback {
  // background: url(https://res.cloudinary.com/detzng4ks/image/upload/v1652916796/disco-diffusion-active-tests/3a7d27d6-bc2e-4400-b1dd-d9857cd8e871.png);
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
}

@media screen and (max-width: 768px) {
  /* 3D Cube */
  .space3d {
    perspective: 1000px;
    width: $cubeWidthMobile;
    height: $cubeHeightMobile;
    text-align: center;
    display: inline-block;
    padding-top: 6rem;
  }

  ._3dbox {
    display: inline-block;
    transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(15deg);
  }

  ._3dface {
    overflow: hidden;
    position: absolute;
    border: 1px solid #888;
    background: #fff;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
    color: #333;
    line-height: $cubeWidthMobile;
    opacity: 0.9;
  }

  ._3dfacefront {
    width: $cubeWidthMobile;
    height: $cubeHeightMobile;
    transform: translate3d(0, 0, $cubeDepthMobile / 2);
  }

  ._3dfacetop {
    width: $cubeWidthMobile;
    height: $cubeDepthMobile;
    transform: rotateX(90deg) translate3d(0, 0, $cubeHeightMobile / 2);
  }

  ._3dfacebottom {
    width: $cubeWidthMobile;
    height: $cubeDepthMobile;
    transform: rotateX(-90deg) translate3d(0, 0, $cubeHeightMobile / 2);
  }

  ._3dfaceleft {
    width: $cubeDepthMobile;
    height: $cubeHeightMobile;
    left: 50%;
    margin-left: -$cubeDepthMobile / 2;
    transform: rotateY(-90deg) translate3d(0, 0, $cubeWidthMobile / 2);
  }

  ._3dfaceright {
    width: $cubeDepthMobile;
    height: $cubeHeightMobile;
    left: 50%;
    margin-left: -$cubeDepthMobile / 2;
    transform: rotateY(90deg) translate3d(0, 0, $cubeWidthMobile / 2);
  }

  ._3dfaceback {
    width: $cubeWidthMobile;
    height: $cubeHeightMobile;
    transform: rotateY(180deg) translate3d(0, 0, $cubeDepthMobile / 2);
  }
}
