/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "FuturaStd-Heavy";
  src: url("../public/fonts/FuturaStd-Heavy.otf");
}
@font-face {
  font-family: "FuturaStd-Light";
  src: url("../public/fonts/FuturaStd-Light.otf");
}

@font-face {
  font-family: "FuturaStdBook";
  src: url("../public/fonts/FuturaStdBook.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "FuturaStdBook";
}

* {
  box-sizing: border-box;
}

.MuiImageListItemBar-title {
  white-space: normal !important;
}

.MuiImageListItem-root {
  display: grid !important;
  grid-template-rows: 10em 1fr !important;
  grid-gap: 1em;
}

.MuiImageList-root {
  padding: 2rem 0;
  width: 800px;
}

.MuiImageListItem-root .MuiImageListItem-img {
  height: 100% !important;
  border-radius: 6px;
}

.MuiFormControl-root label,
.MuiFormControl-root span {
  color: black !important;
  font-family: "FuturaStdBook" !important;
}

.Mui-focused fieldset {
  border-color: black !important;
}

@media screen and (max-width: 600px) {
  .MuiImageListItem-root {
    grid-template-rows: 6em 1fr !important;
  }
  .MuiImageList-root {
    width: 100%;
  }
}
